body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: darkgrey;
}
header{
    margin-left:260px;
    position: fixed;
    width: 1000px;
    top: 0px;
    text-align: center;
    background-color: #f4f4f4;
    height: 60px;
}
header a{
    text-decoration: none;
    color: black;
}
header a:hover{
   color: cornflowerblue;
}
section{
    margin-top: 60px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    border: 5px solid;
    border-color: rgba(88, 86, 86, 0.12);
    padding: 20px;
    text-align: center;
    background-color: aliceblue;

}
section input{
    border-radius:5px ;
    height: 30px;
}
textarea{
    width: 600px;
    height: 300px;
}
.button{
    width: 150px;
    height: 40px;
    font-size: 20px;
}
.button:hover{
    color: cornflowerblue;
}


